/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 페이지 전체 스타일 */
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
}

/* 컨테이너 설정 */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;  
}


.container p {

 font-size: 2.3vh;
 color: #666;

}


/* 헤더 스타일 */
header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
  color: #666;
}

.novel-content {
  user-select: none; /* 드래그 방지 */
  -webkit-user-select: none; /* 크롬, 사파리 */
  -moz-user-select: none; /* 파이어폭스 */
  -ms-user-select: none; /* 엣지, 인터넷 익스플로러 */
}


/* 소설 본문 스타일 */
.novel-content h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #444;
}

.novel-content p {
  font-size: 2.5vh;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.8;
  color: #444;
}

/* 푸터 스타일 */
footer {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  color: #777;
}
