body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-gap: 2px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #eaa329;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.black {
  background-color: black;
}

.cell.white {
  background-color: white;
}
.cell.winning-cell {
  border: 2px solid red;
}

#message {
  font-size: 20px;
  margin-top: 20px;
}
